<div data-controller="navbarBk">
<div class="relative bg-blue-300 h-20 ">
  <div class=" h-20 mx-auto px-2 sm:px-6">
    <div class="max-w-full bg-blue-300 h-20 navbar">
      <div class="mx-2 px-2 h-20">
        <div class="flex border-gray-100 h-full">
          <div class="self-center w-3/12">
            <div class="w-1/10">
              <% if current_admin.present? %>
                <%= link_to "課程後台管理系統", admin_courses_path, class:"text-white text-2xl subpixel-antialiased " %>
              <% else %>
                <%= link_to "課程後台管理系統", new_admin_registration_path, class:"text-white text-2xl subpixel-antialiased " %>
              <% end %>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

